
.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

h4 {
    margin-top: 1em;
}

a {
    text-decoration: none;
    color: white;
}

.btn {
    margin-top: 1em;
}

.btn-danger {
    margin-left: 0.75em;
}