
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h2 {
    margin-top: 1em;
}

a {
    text-decoration: none;
    color: white;
}

.btn {
    margin-top: 0.5em;
}