{% extends "list_simulacoes.html" %}

{% block title %}Deletar custo{% endblock title %}

{% block css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'delete_custo.css' %}">
{% endblock css %}

{% block content %}
    <div class="container">
        <h2>Deletar custo</h2>
        <form action="" method="post">
            {% csrf_token %}
            <p>Tem certeza que deseja deletar o custo?</p>
            <button type="submit" class="btn btn-danger">Deletar</button>
        </form>
    </div>
{% endblock content %}