{% extends "list_simulacoes.html" %}

{% block title %}Listagem de fraldas{% endblock title %}

{% block css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'list_fraldas.css' %}">
{% endblock css %}

{% block content %}
    <div class="container">
        {% for fralda in fraldas %}
            <h2>{{ fralda.modelo }} {{ fralda.identificador }} ({{ fralda.tamanho }})</h2>
            <button type="button" class="btn btn-danger"><a href="{% url 'fralda:delete_fralda' fralda.pk %}">Deletar</a></button>
            <button type="button" class="btn btn-dark"><a href="{% url 'fralda:update_fralda' fralda.pk %}">Atualizar</a></button>
            <button type="button" class="btn btn-secondary"><a href="{% url 'fralda:detail_fralda' fralda.pk %}">Detalhes</a></button>
        {% endfor %}
    </div>
{% endblock content %}
