{% extends "list_simulacoes.html" %}

{% block title %}Listagem de fraldas{% endblock title %}

{% block css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'list_fraldas.css' %}">
{% endblock css %}

{% block content %}
    <div class="container">
        <table class="table">
            {% for fralda in fraldas %}
                <tr>
                <td><h4>{{ fralda.modelo }} {{ fralda.identificador }} ({{ fralda.tamanho }})</h4></td>
                <td><button type="button" class="btn btn-danger"><a href="{% url 'fralda:delete_fralda' fralda.pk %}">Deletar</a></button></td>
                <td><button type="button" class="btn btn-dark"><a href="{% url 'fralda:update_fralda' fralda.pk %}">Atualizar</a></button></td>
                <td><button type="button" class="btn btn-secondary"><a href="{% url 'fralda:detail_fralda' fralda.pk %}">Detalhes</a></button></td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock content %}
